<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}TheCanasian</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet" >
  <link rel="stylesheet" href="https://use.typekit.net/ofo8gtv.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
  <link href="favicon.ico" rel="shortcut icon">
</head>
<body>

  {{content}}

  <footer>
    <div class="grid wrapper">
      <div class="unit xs-1 m-1-2 island-1-2">
        <small>derickdinhdesign</small>
      </div>
      <div class="unit xs-1 m-1-2 island-1-2">
        <ul class="list-group-inline icon-list">
          <li class="push-r-1-2">
            <a class="icon-link" href="mailto:derick.dinh613@gmail.com" target="_blank">
              <i class="icon i-24">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#email"/></svg>
              </i>
            </a>
          </li>
          <li class="push-r-1-2">
            <a class="icon-link" href="https://twitter.com/itsTheCanasian" target="_blank">
              <i class="icon i-24">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#twitter"/></svg>
              </i>
            </a>
          </li>
          <li>
            <a class="icon-link" href="https://www.instagram.com/derickdinh.design/?hl=en" target="_blank">
              <i class="icon i-24">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#instagram"/></svg>
              </i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
